@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
/* .ki{
  margin-top: 150px;
} */
ul{
  list-style: none;
  font-size: 0,5rem;
}

/*--------------formulaire------------*/
.lo{
  width: 400px;
  margin: auto;
}

/*--------------footer------------*/
footer{
  background-color: aliceblue;
}

.foot{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.foot p{
  font-size: 0,3rem;
  
}
.icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 20px;
}
.texte{
  display: flex;
  justify-content: center;
}
/*-- Pricing_wrapper --*/
.tour{
  margin-right: 10px;
}




.para{
  font-size: 0,5rem;
}
