@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
/*--------------footer------------*/
footer{
  background-color: aliceblue;
}

.foot{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 20px;
}
.texte{
  display: flex;
  justify-content: center;
}